<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body id="foundPage" onload="resetSelection()">
    <main class="w-100 m-auto foundMain">
          <h1 class="h3 mb-3 fw-normal text-center">Where you Found?</h1>
    <form action="/found" class="text-center foundForm" method="post" enctype="multipart/form-data">
        <span class="foundSpan"> Select region </span>
        <select id="regionSelect" class=" foundSelect text-center" name="region"  onchange="makeSubmenu(this.value)" required>
            <option value="" disabled selected>Region</option>
            <option>Andijan</option>
            <option>Bukhara</option>
            <option>Djizzak</option>
            <option>Fergana</option>
            <option>Kashkadarya</option>
            <option>Khorezm</option>
            <option>Namangan</option>
            <option>Navoi</option>
            <option>Samarkand</option>
            <option>Surkhandarya</option>
            <option>Syrdarya</option>
            <option>Tashkent</option>
            <option>TashkentCity</option>
            <option>Karakalpakistan</option>
        </select><br><br>
        <span class="foundSpan"> Select city </span>
        <select name="city" id="citySelect" class="foundSelect text-center" size="1" required>
            <option value="" disabled selected>City</option>
            <option></option>
        </select><br><br>
        <span class="foundSpan"> Select category</span>
        <select name="category" id="categorySelect" class=" foundSelect text-center" size="1" required>
            <option value="" disabled selected>Category</option>
            <option></option>
        </select><br><br>


        <div class="form-floating m-auto" >
            <input name="comment" id="comment" type="text" class="form-control" placeholder="qisqacha malumot" required>
            <label for="floatingInput">Add Comment</label>
          </div>
          <div class="form-floating m-auto">
            <input name="phone" id="phone" type="tel" class="form-control" placeholder="Telefon Raqam" required>
            <label for="floatingPassword">Phone No.</label>
        </div><br>
        
        <script>
        $(document).ready(function(){
          $('#phone').mask('+999 (99) 999-99-99');
        });
        </script>
          <input class="btn btn-outline-secondary m-1" type="file" id="image" name="image" value="" accept=".png, .jpg, .jpeg" required>
          <input type="checkbox" value="remember-me" required> <span> I agree to privacy policy </span>
       <br><br>
       <a href="/">Home</a>
        <button class="btn btn-dark btn-outline-primary" type="submit">Upload lost item</button>
    </form>
</main>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
    <script src="index.js"></script>
</body>
</html>