<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="mainBody">
    <div class="mainContainer">
        <!-- Two button here -->
        <a href="/lost">
            <button class="glow-on-hover" type="button">I LOST</button>
        </a><br> <br>
        <a href="/found">
            <button class="glow-on-hover" type="button">I FOUND</button>
        </a>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</body>
</html>